.headerOne {
  margin-top: 45px;
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.headerTwo {
  background-color: #36558d;
  padding: 5px;
  color: #fff;
}

.headerTwo h2 {
  font-size: 14px;
}

.listWrapper li {
  background-color: #4268b1;
  height: 120px;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
}

a {
  color: #fff;
}

a svg {
  font-weight: 700;
}

.listWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.listWrapper li:nth-child(4n-2) {
  background-color: #3f61a4;
}

.listWrapper li:nth-child(4n-1){
  background-color: #3f61a4;
}
