.homePage {
  text-align: center;
  height: 100%;
}

.homePage > div > p {
  color: #fff;
  letter-spacing: 4px;
}

.homeHeader {
  letter-spacing: 5px;
}

.headerTwo {
  background-color: #36558d;
  margin: 0;
  text-align: left;
  padding: 5px 10px;
  margin-top: 30px;
  color: #fff;
}

.headerTwo h2 {
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0;
}

.continents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.continent {
  list-style: none;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: #4268b1;
  align-items: center;
}

.continent a {
  color: #fff;
}

.continent li {
  background-color: #4268b1;
}

.continents li:nth-child(4n-2) {
  background-color: #3f61a4;
}

.continents li:nth-child(4n-1) {
  background-color: #3f61a4;
}

@media (min-width: 768px) {
  .continents {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }

  .continent {
    height: 350px;
  }

  .continent:nth-child(5) {
    grid-column: 2/3;
  }

  .continents li:nth-child(odd) {
    background-color: #3f61a4;
  }

  .continents li:nth-child(even) {
    background-color: #4268b1;
  }
}
