.footer,
.paginateBtn {
  width: 80%;
  margin: auto;
  gap: 4px;
}

.footer li {
  list-style: none;
}

.paginateBtn {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  background-color: #cf4278;
}

.paginateBtn:hover {
  cursor: pointer;
}
