@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fd5294;
  display: flex;
  flex-direction: column;
}

#root {
  margin-top: 25px;
}

a {
  color: #000;
  text-decoration: none;
}

.navBar svg {
  font-size: 18px;
}

svg:hover {
  cursor: pointer;
  opacity: 0.8;
}

.aboutPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.aboutPage a {
  color: #fff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.navBar {
  position: fixed;
  width: 100%;
  background-color: #e84a88;
  padding: 15px;
  top: 0;
}

.navBar ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 0;
}

.navBar > ul li,
.navBar > ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.right-link {
  gap: 20px;
}

.active {
  color: #fff;
  text-decoration: underline;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.box {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
}

.dataPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.africa {
  background-image: url(../src/components/img/africa.png);
}

.asia {
  background-image: url(../src/components/img/asia.png);
}

.europe {
  background-image: url(../src/components/img/europe.png);
}

.north-america {
  background-image: url(../src/components/img/northAmerica.png);
}

.south-america {
  background-image: url(../src/components/img/southAmerica.png);
}

.australia-oceania {
  background-image: url(../src/components/img/australia.png);
}

.bgLight {
  background-color: rgb(255, 68, 0);
  width: 100%;
  height: 100%;
}

.statistics {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px auto 20px auto;
}

.statistics img {
  width: 56%;
  margin: 20px auto;
  height: 100px;
}

.statistics > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  color: #fff;
  margin-top: 20px;
}

.statistics > div ul li {
  padding: 10px;
}

.statistics > div ul li:nth-child(even) {
  background-color: #cf4278;
}

.overlay {
  overflow: hidden;
  height: 100%;
}

.dark {
  background: rgba(219, 70, 129, 0.8);
}

.light {
  background: rgba(207, 66, 120, 0.3);
}

.searchContainer input {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 60px;
}

.searchContainer input:focus {
  outline: none;
}

@media (min-width: 768px) {
  .searchContainer input {
    margin-top: 10px;
    width: 40%;
    font-size: 17px;
    border: none;
  }

  #root {
    margin-top: 40px;
  }

  .navBar {
    padding: 30px;
  }

  .navBar ul {
    padding-bottom: 0;
  }

  .right-link {
    gap: 40px;
  }

  .navBar svg {
    font-size: 30px;
  }

  .statistics img {
    width: 20%;
    height: 150px;
  }

  .statistics > div {
    width: 50%;
    margin: 30px auto;
  }

  .dark {
    background: rgba(92, 3, 42, 0);
  }

  .light {
    background: rgba(92, 3, 42, 0);
  }
}
