@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5689e4;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.hide {
  display: none;
}

#root {
  margin-top: 5px;
}

a {
  color: #000;
  text-decoration: none;
}

.navBar svg {
  font-size: 18px;
  margin: auto 10px;
}

.navBar ul li svg:first-child {
  margin-right: 10px;
}

svg:hover {
  cursor: pointer;
  opacity: 0.8;
}

.aboutPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.aboutPage a {
  color: #fff;
}

li {
  list-style: none;
}

button {
  color: #fff;
  background: none;
  border: none;
}

.navBar {
  position: fixed;
  width: 100%;
  background-color: #4369b2;
  padding: 15px;
  top: 0;
}

.navBar ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 0;
}

.navBar > ul li,
.navBar > ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.right-link {
  gap: 20px;
}

.active {
  color: #fff;
  text-decoration: underline;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-repeat: no-repeat;
  background-size: calc(75%);
  background-position: 16px 8px;
}

.dataPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.africa {
  background-image: url(../public/images/africa.svg);
}

.asia {
  background-image: url(../public/images/asia.svg);
}

.europe {
  background-image: url(../public/images/europe.svg);
}

.north-america {
  background-image: url(../public/images/north_america.svg);
}

.south-america {
  background-image: url(../public/images/south_america.svg);
}

.australia-oceania {
  background-image: url(../public/images/australia-oceania.svg);
}

.overlay {
  overflow: hidden;
  height: 100%;
}

.cases {
  width: 80%;
  margin: 50px auto 0 auto;
  text-align: center;
}

.data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.data > li {
  /* background-color: #4268b1; */
  border-radius: 20px;
  padding: 10px 5px;
  margin: 10px;
  box-sizing: border-box;
}

.data > li svg {
  font-size: 30px;
  color: #f00;
}

.data p {
  color: #fff;
}

.data > li:nth-child(4n-2) {
  background-color: #3f61a4;
}

.data > li:nth-child(4n-1) {
  background-color: #3f61a4;
}

.searchContainer input {
  padding: 5px 20px;
  border: none;
  font-size: 16px;
  position: fixed;
  width: 55%;
  top: 9px;
  transform: translate(50%);
  border-radius: 6px;
}

.searchContainer input:focus {
  outline: none;
}

@media (min-width: 768px) {
  .searchContainer input {
    margin-top: 10px;
    font-size: 17px;
    width: 20%;
    top: 3px;
  }

  #root {
    margin-top: 40px;
  }

  .navBar ul {
    padding-bottom: 0;
  }

  .right-link {
    gap: 40px;
  }

  .navBar svg {
    font-size: 30px;
  }

  .dataPage {
    margin-top: 70px;
  }

  .data > li:nth-child(even) {
    background-color: #3f61a4;
  }
  
  .data > li:nth-child(odd) {
    background-color: #3f61a4;
  }
}
